@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.board-section {
  width: 100%;
  max-width: 1240px;
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
}

.board-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.thread-section {
  width: 70%;
  & .single-thread {
    position: relative;
    margin-bottom: 20px;

    box-shadow: 1px 0px 4px #201f1f;
    padding: 30px 20px;
    border-radius: 5px;
    & img.deleteButton {
      position: absolute;
      padding: 10px 10px;
      top: 50%;
      right: 80px;
      transform: translateY(-50%);
      transition: all 0.3s ease;
      &:hover {
        cursor: pointer; // 追加: カーソル形状をポインターに変更
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2)); // 追加: 形状に合わせたシャドウ
        transform: translateY(-50%) scale(1.4); // 追加: ボタンの位置を保持しつつ、スケールを拡大
      }
    }
    & img.editButton {
      position: absolute;
      padding: 10px 10px;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      transition: all 0.3s ease;
      &:hover {
        cursor: pointer; // 追加: カーソル形状をポインターに変更
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2)); // 追加: 形状に合わせたシャドウ
        transform: translateY(-50%) scale(1.4); // 追加: ボタンの位置を保持しつつ、スケールを拡大
      }
    }
  }
}

.form-section {
  background-color: azure;
  box-shadow: 1px 0px 3px #474747;
  border-radius: 5px;
  padding: 15px 100px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.input-section input {
  padding: 10px;
  margin-bottom: 10px;
}

.input-section button {
  padding: 3px 10px;
}
